<div id="charity-carousel" class="carousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#charity-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#charity-carousel" data-slide-to="1"></li>
    <li data-target="#charity-carousel" data-slide-to="2"></li>
    <li data-target="#charity-carousel" data-slide-to="3"></li>
    <li data-target="#charity-carousel" data-slide-to="4"></li>
    <li data-target="#charity-carousel" data-slide-to="5"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

  <div class="item active">
      <img src="/assets/unicef.jpg" width= "1500px" height = "425px" alt="...">
      <div class="carousel-caption">
          <!-- <h5>UNICEF</h5> -->
      </div>
    </div>

    <div class="item">
      <img src="/assets/bb_bs.jpg"width= "1500px" height = "425px" alt="...">
      <div class="carousel-caption">
          <!-- <h5>Susan G. Komen Breast Cancer Association</h5> -->
      </div>
    </div>
    <div class="item">
      <img src="/assets/habitat_for_humanity.jpg" width= "1500px"  height = "425px" alt="...">
      <div class="carousel-caption">
          <!-- <h5>Make A Wish Foundation</h5> -->
      </div>
    </div>
    
    <div class="item">
      <img src="/assets/make_a_wish.jpg" width= "1500px" height = "425px" alt="...">
      <div class="carousel-caption">
          <!-- <h5>Autism Speaks</h5> -->
      </div>
    </div>
    <!-- <div class="item">
      <img src="/assets/American_Heart_cropped1.jpg" width= "1500px" alt="...">
      <div class="carousel-caption">
          <h5>American Heart Association</h5>
      </div>
    </div> -->
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#charity-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#charity-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->