


		
			<!-- <div class = "section group">
			::before
				<div class="col span_4_of_12 service">
					<img src="http://tinderflint.tv/wp-content/uploads/2015/05/concept.jpg" alt="service image">
					<h3><span class="green">Concept</span></h3>
					<p>Working collaboratively with you we take your brief and develop it into an engaging and creative concept.</p>
				</div>

				<div class="col span_4_of_12 service">
					<img src="http://tinderflint.tv/wp-content/uploads/2015/05/production11.jpg" alt="service image">
					<h3><span class="green">Production</span></h3>
					<p>We translate your concept using immersive imagery, high production values and our wealth of storytelling experience.</p>
				</div>

				<div class="col span_4_of_12 service">
					<img src="http://tinderflint.tv/wp-content/uploads/2015/05/Delivery3.jpg" alt="service image">
					<h3><span class="green">Delivery</span></h3>
					<p>We always aim to deliver the finest content whether it be film, animation, motion graphics, website, branded content or graphic design.</p>
				</div>

			::after

			</div>
 -->




			<!-- <div class="boxes">
			   <div class="box box1">Box 1</div>
			   <div class="box box2">Box 2</div>
			   <div class="box box3">Box 3</div>
			</div>
 -->

	
	<html lang="en"><head>
	<meta charset="utf-8">
	<title>CSS Zen Garden: The Beauty of CSS Design</title>

	<link rel="stylesheet" media="screen" href="/215/215.css?v=8may2013">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.csszengarden.com/zengarden.xml">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="The Unit">
	<meta name="description" content="A demonstration of what can be accomplished by giving with your friends.">
	<meta name="robots" content="all">


	<!--[if lt IE 9]>
	<script src="script/html5shiv.js"></script>
	<![endif]-->
</head>

<!--



	View source is a feature, not a bug. Thanks for your curiosity and
	interest in participating!

	Here are the submission guidelines for the new and improved csszengarden.com:

	- CSS3? Of course! Prefix for ALL browsers where necessary.
	- go responsive; test your layout at multiple screen sizes.
	- your browser testing baseline: IE9+, recent Chrome/Firefox/Safari, and iOS/Android
	- Graceful degradation is acceptable, and in fact highly encouraged.
	- use classes for styling. Don't use ids.
	- web fonts are cool, just make sure you have a license to share the files. Hosted 
	  services that are applied via the CSS file (ie. Google Fonts) will work fine, but
	  most that require custom HTML won't. TypeKit is supported, see the readme on this
	  page for usage instructions: https://github.com/mezzoblue/csszengarden.com/

	And a few tips on building your CSS file:

	- use :first-child, :last-child and :nth-child to get at non-classed elements
	- use ::before and ::after to create pseudo-elements for extra styling
	- use multiple background images to apply as many as you need to any element
	- use the Kellum Method for image replacement, if still needed. http://goo.gl/GXxdI
	- don't rely on the extra divs at the bottom. Use ::before and ::after instead.

		
-->

<body id="css-zen-garden">
<div class="page-wrapper">

	<section class="intro" id="zen-intro">
		<header role="banner">
			<h1>Charity Challenger</h1>
			<h2>The Beauty of Giving</h2>
		</header>

		<%= render partial: "carousel" %>

			<!-- <div class="preamble" id="zen-preamble" role="article">
			<h3>The Road to Happiness</h3>
			<p>Bicycle rights mumblecore meditation Wes Anderson McSweeney's before they sold out. Tattooed yr food truck church-key Blue Bottle. Four loko pug Echo Park salvia. Echo Park Shoreditch narwhal, literally plaid occupy food truck health goth scenester gluten-free whatever DIY. Distillery tote bag gluten-free, banjo Wes Anderson butcher Echo Park Helvetica occupy slow-carb PBR single-origin coffee. Pop-up stumptown Marfa, distillery tote bag bicycle rights Tumblr mustache lomo Pitchfork meh you probably haven't heard of them fingerstache post-ironic. Whatever selfies Shoreditch, vegan irony drinking vinegar 90's meh umami trust fund +1 put a bird on it actually street art.</p>
			
			<p>lol yo</p>
		</div> -->
	</section>

	<div class="main supporting" id="zen-supporting" role="main">
		<div class="explanation" id="zen-explanation" role="article">
			<h3>So What is This About?</h3>
			<p>TEtsy tofu VHS cronut hella fixie, put a bird on it scenester Helvetica pour-over you probably haven't heard of them biodiesel banh mi. Irony paleo master cleanse readymade Vice YOLO. Try-hard fingerstache Schlitz, Austin street art squid Shoreditch food truck distillery chambray. Polaroid fanny pack Wes Anderson readymade, fingerstache +1 90's freegan chillwave Truffaut photo booth lumbersexual. Freegan authentic quinoa ugh. Keffiyeh sriracha Tumblr tattooed you probably haven't heard of them. Keytar YOLO butcher, deep v Shoreditch before they sold out health goth ennui Tumblr ugh.</p>
			<p>Disrupt art party forage butcher post-ironic. 3 wolf moon four loko direct trade tousled, Pitchfork fashion axe pug polaroid street art High Life. IPhone PBR four loko, shabby chic roof party Tumblr fap mixtape swag. Carles listicle Echo Park XOXO, crucifix iPhone hella. Tilde Bushwick deep v, tofu hashtag Neutra Austin Odd Future Banksy iPhone direct trade aesthetic Vice. Williamsburg art party cred artisan, deep v Kickstarter pour-over bespoke leggings butcher PBRB salvia roof party. Craft beer four loko brunch tousled Godard cornhole stumptown whatever.</p>
		</div>

		<div class="participation" id="zen-participation" role="article">
			<h3>How it Works</h3>
			<p>Dreamcatcher narwhal lomo, heirloom semiotics stumptown swag. Pickled locavore fap roof party, swag hoodie cronut. Drinking vinegar keffiyeh mustache hoodie leggings. Direct trade aesthetic fashion axe, put a bird on it Carles food truck cornhole ugh Pinterest meditation pug twee chia. Sartorial gluten-free Intelligentsia, ethical bespoke American Apparel church-key Marfa gastropub four loko cornhole wayfarers. Ennui semiotics irony, locavore wayfarers butcher tousled retro you probably haven't heard of them plaid ugh actually. Aesthetic Bushwick asymmetrical skateboard art party.</p>
			<p>+1 semiotics sustainable PBRB, narwhal Wes Anderson ethical banjo direct trade whatever. Next level fap quinoa Intelligentsia, hashtag Brooklyn Banksy small batch meh irony tattooed paleo single-origin coffee. Raw denim Portland blog, jean shorts scenester PBR polaroid listicle actually brunch butcher. Blue Bottle synth whatever tattooed food truck pour-over. Flannel Echo Park freegan, tousled 90's salvia street art slow-carb fanny pack cliche. Banjo church-key pork belly, four dollar toast irony Kickstarter food truck keffiyeh synth disrupt flannel typewriter artisan cold-pressed hashtag. Butcher readymade artisan, Wes Anderson ethical chambray literally locavore listicle cliche salvia VHS put a bird on it ugh.</p>
			<p>hi</p>
		</div>

		<div class="benefits" id="zen-benefits" role="article">
			<h3>Benefits</h3>
			<p>Why participate? food truck aesthetic banh mi keytar 3 wolf moon letterpress lo-fi. Fixie meh you probably haven't heard of them, freegan forage cliche Banksy gentrify Williamsburg fingerstache normcore messenger bag pop-up. Etsy hoodie Neutra sustainable. Carles seitan craft beer Shoreditch meggings organic, chambray food truck gluten-free raw denim mumblecore squid quinoa. Tousled plaid occupy direct trade organic, pork belly normcore you probably haven't heard of them sriracha hella banjo swag chillwave mumblecore fap. IPhone slow-carb Wes Anderson organic bespoke whatever.</p>
		</div>

		<div class="requirements" id="zen-requirements" role="article">
			<h3>Requirements</h3>
			<p>tsy Pitchfork plaid drinking vinegar sartorial. Bitters tousled forage VHS, hashtag tote bag fixie High Life drinking vinegar retro next level wayfarers. Put a bird on it letterpress occupy vinyl. Paleo +1 polaroid, put a bird on it photo booth food truck mustache chia. Swag pickled migas church-key. DIY gluten-free photo booth, polaroid fanny pack Carles organic gentrify. Kale chips Banksy small batch, deep v freegan letterpress Intelligentsia locavore gluten-free VHS swag.</p>
			<p>Farm-to-table pop-up fanny pack cornhole bespoke, salvia squid. 90's quinoa master cleanse gluten-free. Helvetica migas shabby chic, deep v banh mi Odd Future locavore cardigan bicycle rights fashion axe actually selvage tousled. Tofu photo booth mumblecore sriracha Helvetica Kickstarter. Letterpress Williamsburg artisan taxidermy, four loko art party put a bird on it tilde umami aesthetic. Fixie Blue Bottle American Apparel Echo Park next level. You probably haven't heard of them trust fund food truck, 8-bit dreamcatcher mustache vinyl bespoke Pitchfork artisan small batch roof party.</p>
			<p>American Apparel DIY disrupt, four loko flannel readymade leggings direct trade pour-over semiotics forage. VHS vinyl heirloom YOLO listicle, pug try-hard 8-bit crucifix viral. Irony ugh four dollar toast occupy. Direct trade authentic plaid bicycle rights. Synth meditation drinking vinegar, plaid bespoke next level mixtape jean shorts Odd Future fanny pack. Deep v gentrify Odd Future Marfa sartorial. Pork belly taxidermy irony 3 wolf moon slow-carb bicycle rights.</p>
			<p>Truffaut sartorial Tumblr post-ironic Austin cliche, ennui cronut cray kogi listicle. Wayfarers Tumblr Odd Future, occupy pop-up irony blog. Seitan keytar yr, Pitchfork aesthetic brunch flexitarian. Disrupt yr heirloom, iPhone banh mi Williamsburg tousled 3 wolf moon seitan farm-to-table typewriter McSweeney's viral flexitarian chambray. Heirloom DIY fanny pack pour-over, vegan Pinterest cronut tote bag umami drinking vinegar Austin taxidermy pop-up yr. Selvage leggings readymade craft beer, viral polaroid jean shorts food truck quinoa bicycle rights Godard drinking vinegar tofu 90's messenger bag. Migas retro shabby chic food truck Bushwick slow-carb.</p>
			 <p role="contentinfo">By <a href="http://www.mezzoblue.com/">Unit</a>. Inspired by <!-- <a href="http://www.mediatemple.net/"> -->mediatemple<!-- </a> -->. Now available: <!-- <a href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"> -->the book<!-- </a>. --></p>
		</div>


		<footer>
			<a href="http://validator.w3.org/check/referer" title="Check the validity of this site’s HTML" class="zen-validate-html">HTML</a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site’s CSS" class="zen-validate-css">CSS</a>
			<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="View the Creative Commons license of this site: Attribution-NonCommercial-ShareAlike." class="zen-license">CC</a>
			<a href="http://mezzoblue.com/zengarden/faq/#aaa" title="Read about the accessibility of this site" class="zen-accessibility">A11y</a>
			<a href="https://github.com/mezzoblue/csszengarden.com" title="Fork this site on Github" class="zen-github">GH</a>
		</footer>

	</div>


	<aside class="sidebar" role="complementary">
		<div class="wrapper">

			<!-- <div class="design-selection" id="design-selection">
				<h3 class="select">Select a Design:</h3>
				<nav role="navigation">
					<ul>
					<li>
						<a href="/221/" class="design-name">Mid Century Modern</a> by						<a href="http://andrewlohman.com/" class="designer-name">Andrew Lohman</a>
					</li>					<li>
						<a href="/220/" class="design-name">Garments</a> by						<a href="http://danielmall.com/" class="designer-name">Dan Mall</a>
					</li>					<li>
						<a href="/219/" class="design-name">Steel</a> by						<a href="http://steffen-knoeller.de" class="designer-name">Steffen Knoeller</a>
					</li>					<li>
						<a href="/218/" class="design-name">Apothecary</a> by						<a href="http://trentwalton.com" class="designer-name">Trent Walton</a>
					</li>					<li>
						<a href="/217/" class="design-name">Screen Filler</a> by						<a href="http://elliotjaystocks.com/" class="designer-name">Elliot Jay Stocks</a>
					</li>					<li>
						<a href="/216/" class="design-name">Fountain Kiss</a> by						<a href="http://jeremycarlson.com" class="designer-name">Jeremy Carlson</a>
					</li>					<li>
						<a href="/215/" class="design-name">A Robot Named Jimmy</a> by						<a href="http://meltmedia.com/" class="designer-name">meltmedia</a>
					</li>					<li>
						<a href="/214/" class="design-name">Verde Moderna</a> by						<a href="http://www.mezzoblue.com/" class="designer-name">Dave Shea</a>
					</li>					</ul>
				</nav>
			</div>

			<div class="design-archives" id="design-archives">
				<h3 class="archives">Archives:</h3>
				<nav role="navigation">
					<ul>
						<li class="next">
							<a href="/215/page1">
								Next Designs <span class="indicator">›</span>
							</a>
						</li>
						<li class="viewall">
							<a href="http://www.mezzoblue.com/zengarden/alldesigns/" title="View every submission to the Zen Garden.">
								View All Designs							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="zen-resources" id="zen-resources">
				<h3 class="resources">Resources:</h3>
				<ul>
					<li class="view-css">
						<a href="/215/215.css" title="View the source CSS file of the currently-viewed design.">
							View This Design’s <abbr title="Cascading Style Sheets">CSS</abbr>						</a>
					</li>
					<li class="css-resources">
						<a href="http://www.mezzoblue.com/zengarden/resources/" title="Links to great sites with information on using CSS.">
							<abbr title="Cascading Style Sheets">CSS</abbr> Resources						</a>
					</li>
					<li class="zen-faq">
						<a href="http://www.mezzoblue.com/zengarden/faq/" title="A list of Frequently Asked Questions about the Zen Garden.">
							<abbr title="Frequently Asked Questions">FAQ</abbr>						</a>
					</li>
					<li class="zen-submit">
						<a href="http://www.mezzoblue.com/zengarden/submit/" title="Send in your own CSS file.">
							Submit a Design						</a>
					</li>
					<li class="zen-translations">
						<a href="http://www.mezzoblue.com/zengarden/translations/" title="View translated versions of this page.">
							Translations						</a>
					</li>
				</ul>
			</div> -->
		</div>
	</aside>


</div>

<!--

	These superfluous divs/spans were originally provided as catch-alls to add extra imagery.
	These days we have full ::before and ::after support, favour using those instead.
	These only remain for historical design compatibility. They might go away one day.
		
-->
<div class="extra1" role="presentation"></div><div class="extra2" role="presentation"></div><div class="extra3" role="presentation"></div>
<div class="extra4" role="presentation"></div><div class="extra5" role="presentation"></div><div class="extra6" role="presentation"></div>


</body></html>





	

